/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

body {
  background-color: #eef4f6;
  color: #425666;
  font-family: 'Monaco';
}
